<style>
    /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<div id="map"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfu5BP0TA-5ea9ULJJeV4Kqkw2XxfGz9g&callback=initMap">
</script>

<script>

    var map;

    function initMap() {

        var deviceId = getParameterByName('deviceId', undefined); // '358022066432461';

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: { lat: -33.9249, lng: 18.4241 },
            mapTypeId: 'terrain'
        });

        $.get(`/location/listSessions?deviceId=${deviceId}`, function (data) {
            handleSessions(deviceId, data);
        });
    }

    function handleSessions(deviceId, sessions) {
        for (var session of sessions) {
            $.get(`/location/list?deviceId=${deviceId}&startTimestamp=${session[0]}&endTimestamp=${session[1]}`, function (data) {
                handleLocations(deviceId, data);
            });
        }
    }

    function handleLocations(deviceId, locations) {
        var coordinates = locations.map(function (x) {
            return { lat: x.latitude, lng: x.longitude };
        });

        var path = new google.maps.Polyline({
            path: coordinates,
            geodesic: true,
            strokeColor: getRandomColor(),
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        path.setMap(map);
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>